* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0e0eae;
    padding: 1rem;
    color: white;
}

.parshwa {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin: 1.5rem;
}

.navbar-nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.navbar-nav a:hover {
    color: #ff6347;
    /* Tomato color */
    background-color: #444;
    border-color: #ff6347;
}

.about-me {
    background-color: #f4f4f4;
    padding: 2rem 0;
}
.about_head{
    font-size:xx-large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.about-me-content {
    text-align: center;
}

.about-me-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-me-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .navbar {
        height: 45vh;
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .about-me-container {
        padding: 1rem;
    }
}