/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
}

.parshwa {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin: 0 0.5rem;
}

.navbar-nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.navbar-nav a:hover {
    color: #ff6347;
    /* Tomato color */
    background-color: #444;
    border-color: #ff6347;
}

.certificates {
    background-color: #ffffff;
    padding: 2rem 0;
}

.certificate_head {
    font-size: xx-large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.certificates-container {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

.certificates h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.certificate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificate-item {
    background-color: white;
    width: 45%;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.certificate-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 1rem;
}

.certificate-info h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.certificate-info p {
    margin-bottom: 0.5rem;
    color: #555;
}

/* Responsive styling */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .certificate-item {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .certificate-img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}